.docs-example-viewer-wrapper {
  border: 2px solid rgba(0, 0, 0, 0.103);
  box-shadow: 0 4px 4px rgba(0,0,0,.24), 0 0 4px rgba(0,0,0,.12);
  background-color:  rgba(235, 235, 235, 0.808);
  width: 45%;
  height: 40%;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -20%);
  display: block;
}

.docs-example-viewer-title{
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4px 10px;
  height: 15%;
  background: rgba(0, 0, 0, 0.103);
  font-size: 180%;
  color: rgba(0, 0, 0, 0.6);
}

.div-join {
  padding: 5%;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
