<div class="docs-example-viewer-wrapper">
    <div class="docs-example-viewer-title">
      Register
    </div>
    <div class="div-login">
        <form #rf="ngForm" (ngSubmit)="register(rf)" novalidate>
          <mat-form-field class="example-full-width">
            <input matInput required placeholder="Username" name="username" autocomplete="username" ngModel>
          </mat-form-field>

          <mat-form-field class="example-full-width">
           <input matInput required placeholder="Email" name="email" autocomplete="email" ngModel>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput required type="password" name="password" placeholder="Password" autocomplete="new-password" ngModel #first="ngModel">
          </mat-form-field>

           <button mat-raised-button color="primary" style="background-color: #3f51b5; margin-right: 1%">Submit</button>
           <button mat-raised-button color="primary" style="background-color: #751692" routerLink="/" >Login</button>
         </form>
        <!--  <p>First name value: {{ first.value }}</p>
         <p>First name valid: {{ first.valid }}</p>
         <p>Form value: {{ f.value | json }}</p>
         <p>Form valid: {{ f.valid }}</p> -->
    </div>
  </div>
